<div class="container col-11 mt-2 card" *ngFor="let e of Data" >
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <h6>{{ e.name }}</h6>
      </div>
      <div class="col-sm-6">
        <button
          class="btn btn-danger ms-1 float-right"
          (click)="onClickDelete(e.id)"
        >
          Delete
        </button>
        <button
          class="btn btn-warning float-right"
          (click)="onClickEdit(e.id)"
          (click)="open(content)"
        >
          Edit
        </button>

       

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="input-group">
                  <input
                    class="form-control"
                    name="first"
                    [(ngModel)]="editData"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="modal.close('Save click')"
              (click)="onClickEditSave(e.id)"
            >
              Save
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
