#header{
    color:rgb(255, 145, 0) !important;
    background: rgb(7, 2, 37);
}
#image{
    height: 75px;
    width: 75px;
    float: left;
    padding-bottom: 23px;
    
}
#title{
    text-align: center;
}